<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="#" th:action="@{/back}" th:object="${country}" method="post" >
ID: <input type="text" th:field="*{id}" readonly="readonly"/> <br/>
State: <input type="text" th:field="*{name}" readonly="readonly"/><br/>
Capital: <input type="text" th:field="*{capital}" readonly="readonly" /> <br/>
Population: <input type="text" th:field="*{population}" readonly="readonly"/><br/>
<button type="submit">Back</button>
</form>
</body>
</html>